header{
    background-image: url(./images/bgone.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   
}
nav{
    box-shadow: 0px 0.2px 0px 0px white;
    color: white;
    
}
.navbar-brand, .nav-link{
    color: white;
}


.img-right{
    position: absolute;
    top: 50%;
    right: 0;
    height: 500px;
    
}
.img-right img{
    height: 100%;
    width: 100%;
}
.font{
    font-size: 60px;
    font-weight: 600px;
}
.fristrow{
margin-top: 100px;
}
.left-border{
    padding: 0px 10px 0px 10px;
    border-left: 2px solid rgb(145, 246, 255);
    border-top: 2px solid rgb(145, 246, 255);
}
.right-border{
    padding: 0px 10px 0px 10px;
    border-right: 2px solid rgb(145, 246, 255);
    border-bottom: 2px solid rgb(145, 246, 255);
}
.number{
    width: 50px;
}
.secdiv{
   position: relative;
}
.secdiv img{
    width: 500px;
    height: 520px;
   position: absolute;
   top: -300px;
   right: 0px;
}
.line{
    width: 50px;
    border: 2px solid rgb(145, 246, 255);
}
